{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock extra_css %}


{% block body %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "images/11.jpg" %}');">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">Faculty</h1>
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>Faculty <i
							class="ion-ios-arrow-forward"></i></span></p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-light">
    <div class="container-fluid px-4">
        <div class="row justify-content-center mb-5 pb-2">
  <div class="col-md-8 text-center heading-section ftco-animate">
    <h2 class="mb-4">Corporate Teachers</h2>
    <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
  </div>
</div>	
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url({% static "images/teacher-1.jpg" %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3>Bianca Wilson</h3>
                        <span class="position mb-2">Teacher</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url({% static "images/teacher-2.jpg" %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3>Mitch Parker</h3>
                        <span class="position mb-2">English Teacher</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url({% static "images/teacher-3.jpg" %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3>Stella Smith</h3>
                        <span class="position mb-2">Art Teacher</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
          </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url({% static "images/teacher-4.jpg" %});"></div>
                    </div>
                    <div class="text pt-3 text-center">
                        <h3>Monshe Henderson</h3>
                        <span class="position mb-2">Science Teacher</span>
                        <div class="faded">
                            <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
	<h2 style="text-align: center;"><b>Dedicated Team</b></h2>
	<br>

	<div class="row text-center">
		<div class="col-lg-3 shadow-lg " style="height: 250px;">
			<img src="{% static 'images/t4.png' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="var(--bs-secondary-color)" />

			<br>
			<p style="line-height: 1.5;">Renu Karki</p>
			<p style="line-height: 0;">H.R</p>
			<p style="line-height: 0;">
			<div class="icon-container">
				<i class="fab fa-linkedin" style="color: #e87517"></i>
				<i class="fab fa-instagram" style="color: #e87517"></i>
				<i class="fas fa-share" style="color: #e87517"></i>
				<i class="fab fa-google-plus" style="color: #e87517"></i>
			</div>
		</div>
		<div class="col-lg-3 shadow-lg" style="height: 250px;">
			<img src="{% static 'images/t1.png' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
				role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="var(--bs-secondary-color)" />


			<br>
			<p style="line-height: 1.5;">Deepak Kr. Maurya</p>
			<p style="line-height: 0;">Full Stack Python Developer</p>
			<p style="line-height: 0;"></p>
			<div class="icon-container">
				<i class="fab fa-linkedin" style="color: #e87517"></i>
				<i class="fab fa-instagram" style="color: #e87517"></i>
				<i class="fas fa-share" style="color: #e87517"></i>
				<i class="fab fa-google-plus" style="color: #e87517"></i>
			</div>
		</div>
		<div class="col-lg-3 shadow-lg" style="height: 250px;">
			<img src="{% static 'images/t2.png' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
				role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="var(--bs-secondary-color)" />


			<br>
			<p style="line-height: 1.5;">Aditya Shukla</p>
			<p style="line-height: 0;">React Developer</p>
			<p style="line-height: 0;"></p>
			<div class="icon-container">
				<i class="fab fa-linkedin" style="color: #e87517"></i>
				<i class="fab fa-instagram" style="color: #e87517"></i>
				<i class="fas fa-share" style="color: #e87517"></i>
				<i class="fab fa-google-plus" style="color: #e87517"></i>
			</div>
		</div>
		<div class="col-lg-3 shadow-lg" style="height: 250px;">
			<img src="{% static 'images/t3.png' %}" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
				role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="var(--bs-secondary-color)" />


			<br>
			<p style="line-height: 1.5;">Amit Kumar</p>
			<p style="line-height: 0;">Graphic Designer</p>
			<p style="line-height: 0;"></p>
			<div class="icon-container">
				<i class="fab fa-linkedin" style="color: #e87517"></i>
				<i class="fab fa-instagram" style="color: #e87517"></i>
				<i class="fas fa-share" style="color: #e87517"></i>
				<i class="fab fa-google-plus" style="color: #e87517"></i>
			</div>
		</div>
	</div>
</section>

{% endblock body %}